body{
    margin: 0px;
    overflow: hidden;
}
#container{
    position: absolute; 
    left:0px; 
    top:0px;
    bottom:50px;
    height: 100%;
    width: 100%;
    transition: bottom 1s, transform 1s;
}
#container.toggle{
    bottom:0px;
}
#container #video-container{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 300px;
    height: 100%;
}
#container #video-container.toggle{
    right: 0px;
    
}
#container #video-container .tooltip{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    padding: 10px 5px;
    height: auto;
    margin-left: -100px;
    margin-top: -30px;
    text-align: center;
    word-wrap: break-word;
    border:3px solid rgba(51,51,51,0.4);
    background-color: rgba(238,238,238,0.4);
    color: #666;
    font-size: 12px;
}
#container #videolist-container{
    position: absolute;
    top: 0px;
    right: 0px;
    width:300px;
    background-color: #333;
    border-left: 3px solid #666;
    box-shadow: 0px -2px 3px #000;
    height: 100%;
}

#container #videolist-container #videolist-controller{
    position: absolute;
    left: -30px;
    top: 50%;
    height: 120px;
    width: 28px;
    font-size: 24px;
    color: white;
    background-color: rgba(51,51,51,0.2);
    line-height: 120px;
    vertical-align: middle;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    cursor: pointer;
    margin-top: -60px;
}
#container #videolist-container #videolist-controller:hover{
    background-color: rgba(102,102,102,0.4);
    color: rgba(255,255,255,0.4);
}

#container #videolist-container.toggle{
    width:0px;
    border-left:0px solid transparent;
}


#controller{
    position:absolute;
    bottom:0px;
    left:0px;
    width:100%;
    height:50px;
    background-color: rgba(51,51,51,0.2);
    border-top: 1px solid rgba(102,102,102,0.2);
    box-shadow: 0px -1px 1px rgba(0,0,0,0.2);
    transition: height 0.5s, transform 0.5s;
}
#controller.toggle{
    height: 0px;
}
#controller #play-control{
    width:120px;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 6px;
    padding: 0px 10px;
    font-size: 30px;
    line-height: 30px;
    color:#eee;
}
#controller #play-progress{
    width:auto;
    height: 100%;
    position: absolute;
    left: 140px;
    top: 20px;
    right: 100px;
}
#controller #play-looptype{
    width:30px;
    height: 100%;
    position: absolute;
    right: 55px;
    top: 10px;
    font-size: 24px;
    line-height: 30px;
    color:#eee;
    cursor: pointer;
}
#controller #play-volume{
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 24px;
    line-height: 30px;
    color:#eee;
    width:30px;
    cursor: pointer;
}

#container #video-container #volume-container{
    position: absolute;
    bottom: 45px;
    right: 15px;
    width:20px;
    height: 220px;
    background-color: rgba(238,238,238,0.4);
    border: 3px solid rgba(102,102,102,0.4);
    box-shadow: 1px 2px 3px rgba(51,51,51,0.4),inset 0px 0px 3px rgba(221,221,221,0.4);
    display: none;
}
#container #video-container #volume-container #volume-progress{
    height: 200px;
    position: absolute;
    top: 10px;
    left: 5px;
    width:10px;
    background-color: #999;
}
#container #video-container #volume-container #volume-progress #volumebar{
    position: absolute;
    bottom: 0px;
    height: 50%;
    left: 0px;
    background-color: darkcyan;
    width: 10px;
}
#container #video-container #volume-container #volume-progress #volume-button{
    position: absolute;
    bottom: 191px;
    left: -4px;
    height: 16px;
    width: 16px;
    background-color: #ddd;
    border: 1px solid #999;
    border-radius: 16px;
    cursor: pointer;
}

#controller #play-control .icon{
    cursor: pointer;
}
#controller #play-control #icon-play:before{
    font-size: 36px;
}
#controller #play-progress #progress{
    width: 100%;
    background-color: #999;
    height: 4px;
}
#controller #play-progress #timebar{
    width: 50%;
    background-color: darkcyan;
    height: 4px;
}
#controller #play-progress #timebar-button{
    position: absolute;
    left: 50%;
    top: 0px;
    margin-top: -6px;
    margin-left: -5px;
    width: 16px;
    height: 16px;
    border: 1px solid #999;
    background-color: #ddd;
    border-radius: 18px;
    cursor: move;
}
#container #videolist-container .video-list-item{
    height: auto;
    color: #aaa;
    padding: 10px 15px;
    position: relative;
    left: 0px;
    top:0px;
    margin-top: 3px;
    border-bottom: 1px solid #555;
    box-shadow: 0px 1px 2px #333;
    cursor: default;
}
#container #videolist-container .video-list-item:hover,#container #videolist-container .video-list-item.active:hover{
    background-color: rgba(215,235,255,0.3);
    color: #333;
}
#container #videolist-container .video-list-item.active{
    background-color: rgba(238,238,238,0.1);
    color: #333;
}
#container #videolist-container .video-list-item:hover .item-close{
    display: inline-block;
}
#container #videolist-container .video-list-item .item-close{
    position: absolute;
    right: 0px;
    top: 50%;
    height: 20px;
    width: 20px;
    color: #999;
    font-size: 16px;
    margin-top: -10px;
    cursor: pointer;
    display: none;
}
#container #videolist-container .video-list-item .item-close:hover{
     color: #fff;
}
#container #videolist-container #videolist-controller-splitter {
    position: absolute;
    left: -5px;
    width: 10px;
    top: 0px;
    height: 100%;
    background-color: transparent;
    cursor: ew-resize;
}
#container #video-container #flat-screen-container {
    position: absolute;
    top: 0px;
    height: 90px;
    width: 360px;
    right: 0px;
    border: 1px solid rgba(255,255,255,0.4);
    background-color: black;
    box-sizing: content-box;
}

#container #video-container #flat-screen-rect{
    position: absolute;
    right: 50%;
    width: 110px;
    height: 90px;
    top: 0px;
    border: 2px solid red;
    background-color: transparent;
    box-sizing: border-box;
}
#container #video-container #flat-screen{
    width: 100%;
    height: 100%;
}
